
services:
  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB : ${DATABASE_NAME} 
      POSTGRRES_USER:  ${DATABASE_USER} 
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD} 
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgrejsjql/data

  api:
    image: node:20-alpine
    working_dir: /app
    command: sh -c "yarn install && yarn run start:dev"
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_NAME: ${DATABASE_NAME} 
      DATABASE_USER: ${DATABASE_USER} 
      DATABASE_PASSWORD: ${DATABASE_PASSWORD} 
      JWT_SECRET: ${JWT_SECRET}
      NODE_ENV: production 
    depends_on:
      - postgres

volumes:
  postgres_data:

