
services:
  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB : ${DATABASE_NAME} 
      POSTGRES_USER:  ${DATABASE_USER} 
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD} 
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
 
  api:
    image: node:20-alpine
    working_dir: /app
    command: sh -c "yarn install --production && yarn run start"
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "127.0.0.1:3000:3000"
    env_file:
      - .env
    environment:
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      NODE_ENV: production 
    depends_on:
      - postgres

volumes:
  postgres_data:

